<!DOCTYPE html>
<html lang="en" data-ng-app="aStory" data-ng-controller="headerController" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Astory</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/header.css" rel = "stylesheet"/>
    <link href="css/editor.css" rel="stylesheet"/>
    <link href="css/login.css" rel="stylesheet"/>
    <link href="css/popup.css" rel="stylesheet"/>
    <link href="css/account.css" rel="stylesheet">
    <link href="css/loginregister.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="./javascripts/lib/angular-animate.min.js"></script>
    <script src="./javascripts/lib/angular.min.js"></script>
    <script src="./javascripts/lib/angular-resource.min.js"></script>
    <script src="./javascripts/lib/ui-bootstrap-custom-0.7.0.min.js"></script>
    <script src="./javascripts/lib/ui-bootstrap-custom-tpls-0.7.0.min.js"></script>
    <script src="./javascripts/app.js"></script>
    <script src="./javascripts/controllers.js"></script>
    <script src="./javascripts/services.js"></script>
    <script src="./javascripts/directives.js"></script>
    <script src="./javascripts/controllers/editorController.js"></script>
</head>

<body>
<div id="navbar" data-ng-hide="loginpage">

    <img class="navlogo" src="images/Logo.png" alt="logo"/>

    <div id="navaccount">
        <img src="images/johndoe.png" alt="johndoe"/>

        <div id="accountstorywrapper">
            <p id="Accountname">John Doe</p>

            <div id="navstorybutton">15 stories</div>
        </div>
        <div id="navdropdownbutton"
             data-ng-click="showaccountdropdown = swapvisibility(showaccountdropdown); setAccountDropdownColor(showaccountdropdown);">
            <img src="images/arrowdown.png" data-ng-show="!showaccountdropdown" alt="v"/>
            <img ng-cloak src="images/arrowup.png" data-ng-show="showaccountdropdown" alt="v"/>
        </div>
        <div ng-cloak id="accountdropdown" data-ng-show="showaccountdropdown">
            <div id="accountdropdownbuttonwrapper">
                <a href="#/account" data-ng-click="showaccountdropdown = false; setAccountDropdownColor(showaccountdropdown);"><div class="accountdropdownbuttonprofile"><p>My profile settings</p></div></a>
                <a href="#/login"><div class="accountdropdownbuttonlogout"><p>Logout</p></div></a>
            </div>
        </div>
    </div>
    <a href="#/stories">
        <div class="navlink">My stories</div>
    </a>
    <a href="#/library">
        <div class="navlink">Library</div>
    </a>
    <a href="#/Help">
        <div class="navlink">Help</div>
    </a>
</div>

<div ng-view style="height: calc(100% - 70px); position: absolute; top: 70px; width: 100%;">
    <!-- HIER KOMEN DE PARTIALS, NIKS ANDERS IN ZETTEN  -->
</div>
</body>
</html>
