<!DOCTYPE html>
<html lang="en" data-ng-app="aStory" data-ng-controller="editorController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Astory</title>
    <!-- Bootstrap core CSS -->
    <link href="css/astory.css" rel="stylesheet">
</head>

<body>

<div id="navbar">
    <img class="navlogo" src="images/Logo.png" alt="logo"/>

    <div class="navaccount">
        <img src="images/johndoe.png" alt="johndoe"/>

        <div id="accountstorywrapper">
            <p>John Doe</p>

            <div class="navstorybutton">15 stories</div>
        </div>
        <div id="navdropdownbutton"><img src="images/arrowdown.png" alt="v"/></div>
    </div>
    <a href="#/stories">
        <div class="navlink">My stories</div>
    </a>
    <a href="#/library">
        <div class="navlink">Library</div>
    </a>
    <a href="#/Help">
        <div class="navlink">Help</div>
    </a>
</div>

<div id="editorbar">
    <a href="#/preview">
        <div id="previewbutton">
            <p>PREVIEW</p>
            <img src="images/arrowright.png" alt=">"/>
        </div>
    </a>

    <p class="savemessage">Automatically saved at 16:42</p>

    <div class="editorbarbutton"><p>CURRENTLY IN</p></div>
    <div class="editorbarbutton" id="scenariobutton" data-ng-click="showscenarios = swapvisibility(showscenarios); setDropdownColor('scenariobutton', showscenarios==true)">
        <p><strong>Scenario 1:</strong> Slaying the dragon<img src="images/arrowdown2.png" alt="v"/></p>
        <div class="editorbardropdown" data-ng-show="showscenarios">aaa</div>
    </div>
    <div class="editorbarbutton" id="scenebutton"><p><strong>Scene 1</strong><img src="images/arrowdown2.png" alt="v"/></p>
    </div>
</div>

<div id="assetmenu">

    <select>
        <option selected>SELECT ASSETGROUP</option>
        <option data-ng-repeat="group in assetgroups">{{group.name}}</option>
    </select>

    <p class="assetmenudescription">Change assetgroup for other kinds of assets..</p>

    <div class="assetgroupswrapper">
        <div class="assetgroup" data-ng-repeat="group in assetgroups">
            <div class="assetgroupheader" data-ng-click="hidden = swapvisibility(hidden)"><p>{{group.name}}</p>
                <img src="images/arrowdown3.png" alt="v" data-ng-show="!hidden"/>
                <img src="images/arrowright3.png" class="hidden" alt="<" data-ng-show="hidden"/>
            </div>
            <div class="assetscontainer" ng-show="!hidden">
                <div class="assetwrapper" data-ng-repeat="asset in group.assets">
                    <div class="asset"><img src="images/Assets/{{asset.image}}" alt="{asset.name}}"/></div>
                    <p>{{asset.description}}</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="editorarea">

    <div id="editor">

    </div>

    <div id="scenemenu">
        <div class="scene">
            <img src="images/johndoe.png" alt="scene 1"/>

            <p>Scéne 1</p>
        </div>
    </div>
</div>

<div ng-view>
    <!-- HIER KOMEN DE PARTIALS, NIKS ANDERS IN ZETTEN  -->
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="./javascripts/lib/angular-animate.min.js"></script>
<script src="./javascripts/lib/angular.min.js"></script>
<script src="./javascripts/lib/angular-resource.min.js"></script>
<script src="./javascripts/app.js"></script>
<script src="./javascripts/controllers.js"></script>
<script src="./javascripts/services.js"></script>
<script src="./javascripts/directives.js"></script>
</body>
</html>
