<div id="accountpagetopwrapper">
    <h1 class="accountpagetitle">Account</h1>
</div>
<div id="accountbackgroundwrapper">
    <img src="../images/johndoe.png" class="profilethumbnail" alt="profilepic">
    <div id="accountinfocontainer">
        <div class="accountinfocategorywrapper">
            <div class="accountinfocategoryheaderwrapper">
                <h1>Primary</h1><p class="categoryheaderedittext">Edit</p>
            </div>
            <div class="accountinfofieldwrapper">
                <p class="fieldtext">Username</p><p class="fieldvalue">John Doe</p>
            </div>
            <div class="accountinfofieldwrapper">
                <p class="fieldtext">E-mail address</p><p class="fieldvalue">johndoe@gmail.com</p>
            </div>
        </div>
        <div class="accountinfocategorywrapper">
            <div class="accountinfocategoryheaderwrapper">
                <h1>Stories</h1><p class="categoryheaderedittext">Edit</p>
            </div>
            <p class="fieldtext">15 published stories with 342 views</p>
        </div>
        <div class="accountinfocategorywrapper">
            <div class="accountinfocategoryheaderwrapper">
                <h1>Language</h1><p class="categoryheaderedittext">Edit</p>
            </div>
            <p class="fieldtext">English</p>
        </div>
        <div class="accountinfocategorywrapper">
            <div class="accountinfocategoryheaderwrapper">
                <h1>Activity</h1><p class="categoryheaderedittext">Edit</p>
            </div>
            <p class="fieldtext"><strong>Last time logged in</strong><br/></p>
            <p class="fieldtext">Yesterday at 16:45</p>
        </div>
        <div class="accountinfocategorywrapper">
            <div class="accountinfocategoryheaderwrapper">
                <h1>Password</h1><p class="categoryheaderedittext">Edit</p>
            </div>
            <p class="fieldtext">Last edited <strong>4 months ago on August 15th</strong></p>
        </div>
    </div>
</div>