<div id="popupcontainer" class="createscenario">
    <div class="popupheader">
        <p>New scenario</p>
        <div class="popupclosebutton" data-ng-click="close()"></div>
    </div>
    <div id="popupwrapper">
        <h1>Name your scenario</h1>
        <form role="form" name="scenarioform">
            <input class="popupinput" type="text" placeholder="Enter a scenario name" data-ng-model="newscenarioname" required>
        </form>
        <p class="bottomleftredtext" data-ng-click="close()">Cancel</p>
        <button class="bottomrightbutton" data-ng-disabled="scenarioform.$invalid" data-ng-click="addScenario(newscenarioname);">Create</button>
    </div>
</div>