<div id="editorbar">
    <a href="#/preview">
        <div id="previewbutton">
            <p>PREVIEW</p>
            <img src="images/arrowright.png" alt=">"/>
        </div>
    </a>

    <p class="savemessage">Automatically saved at 16:42</p>

    <div class="editorbaritem"><p>CURRENTLY IN</p></div>
    <div class="editorbarbuttonwrapper">
        <div class="editorbarbutton storysettingsbutton" data-ng-click="showStoryPopup(0);">
            <p><strong>Story:</strong> {{story.name}}</p>
        </div>
    </div>
    <div class="editorbarbuttonwrapper">
        <div class="editorbarbutton" id="scenariobutton"
             data-ng-click="setEditorbarDropdownColor('scenariobutton', showscenarios==true); showscenarios = swapvisibility(showscenarios);">
            <p><strong>Scenario:</strong>&nbsp;{{currentscenario.name}}</p>
        </div>
        <scenariosdropdown></scenariosdropdown>
    </div>
    <div class="editorbaritem">
        <p><strong>Scene {{currentSceneindex}}</strong></p>
    </div>
</div>

<div id="assetmenu">

    <select>
        <option selected>SELECT ASSETGROUP</option>
        <option data-ng-repeat="group in assetgroups">{{group.name}}</option>
    </select>

    <p class="assetmenudescription">Change assetgroup for other kinds of assets...</p>

    <div class="assetgroupswrapper">
        <div class="assetgroup" data-ng-repeat="group in assetgroups">
            <div class="assetgroupheader" data-ng-click="hidden = swapvisibility(hidden)"><p>{{group.name}}</p>
                <img src="images/arrowdown3.png" alt="v" data-ng-show="!hidden"/>
                <img ng-cloak src="images/arrowright3.png" class="hidden" alt="<" data-ng-show="hidden"/>
            </div>
            <div class="assetscontainer" ng-show="!hidden">
                <div class="assetwrapper" data-ng-repeat="asset in group.assets">
                    <div class="asset"><img data-ng-src="images/Assets/{{asset.image}}"
                                            data-ng-mousedown="get_pos($event)" draggable="true" alt="{{asset.name}}"
                                            assetimage/></div>
                    <p>{{asset.description}}</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="editorarea">
    <canvas id="editor">
        No HTML 5 support found! Please update your browser.
    </canvas>
    <div id = "assetmenuwrapper" data-ng-show="showassetproperties">
        <div id="assetpropertiesmenu">
            <h1>Settings asset</h1>
            <p>Events</p>
            <div id = "assetoptions">
                <div class="assetoption"><p >Go to previous scene</p></div>
                <div class="assetoption"><p>Go to next scene</p></div>
                <div class="assetoptionscenario"><p id="scenario">Go to scenario..</p>
                    <div id="gotoscenariocontainer">
                        <div class="gotoscenariooption" data-ng-repeat="scenario in scenarios" data-ng-click="addScenarioEvent($index)"><p>{{$index + 1}}: {{scenario.name}}</p></div>
                    </div>
                </div>
            </div>
            <div id = "assetpropertieswrapper">
                <div class="assetpropertycontainer">
                    <label for="assetx">X:</label>
                    <input type="number" id="assetx" data-ng-model="selectedAsset.x" data-ng-blur="redrawCanvas();" data-on-keyup-fn="onAssetKeyUp;"/>px
                </div>
                <div class="assetpropertycontainerright">
                    <label for="assety">Y:</label>
                    <input type="number" id="assety" data-ng-model="selectedAsset.y" data-ng-blur="redrawCanvas();" data-on-keyup-fn="onAssetKeyUp;"/>px
                </div>
                <div class="assetpropertycontainer">
                    <label for="assetw">W:</label>
                    <input type="number" id="assetw" data-ng-model="selectedAsset.w" data-ng-blur="redrawCanvas();" data-on-keyup-fn="onAssetKeyUp;"/>px
                </div>
                <div class="assetpropertycontainerright">
                    <label for="asseth">H:</label>
                    <input type="number" id="asseth" data-ng-model="selectedAsset.h" data-ng-blur="redrawCanvas();" data-on-keyup-fn="onAssetKeyUp;"/>px
                </div>
            </div>
            <p id="deleteassetbutton" data-ng-click="removeSelectedAsset();">Delete asset</p>
        </div>
    </div>
    <div id="scenemenuwrapper">
        <div id="scenemenu">
            <div id="sceneitem" data-ng-repeat="scene in scenes">
                <div id="scene" data-ng-click="loadScene($index)">
                    <img src="images/{{scene.image}}" alt="scene {{$index + 1}}"/>

                    <p>Scéne {{$index + 1}}</p>
                </div>
                <div id="dots" data-ng-hide="$last" data-ng-click="addSceneByIndex($index + 1)"></div>
            </div>
        </div>
        <div id="plus" data-ng-click="addScene()"></div>
        <div id="scenetrash" data-ng-click="deleteScene()"></div>
    </div>
</div>