<div id="popupcontainer" class="createscenario">
    <div class="popupheader">
        <p>Edit scenario</p>
        <div class="popupclosebutton" data-ng-click="close()"></div>
    </div>
    <div id="popupwrapper">
        <h1>Edit Scenario</h1>
        <input class="popupinput" type="text" placeholder="Enter a scenario name" data-ng-model="newdata.name"/>
        <p class="bottomleftredtext" data-ng-click="close()">Cancel</p>
        <button class="bottomrightbutton" data-ng-click="saveScenario();">Save</button>
    </div>
</div>