<div id="header">
    <div class="container">
        <div id="siteBeginning">
            <h1 class="site-title">Make your own story</h1>
            <p class="site-desc">make your own rules, make up your own story. Wanna be the superhero? Everything is possible. Start making your own story.</p>
        </div>

        <div id="mainbuts">
            <a href="#" class="startstory">Start your own story</a>
            <a href="#" class="learnmore">Learn more</a>
        </div>

        <div id="header-products"><img src="images/header-products.png" alt="headerimg"></div>
    </div>
</div>

<div id="uniquesellingpoints">
    <div class="container">
        <ul class="sellingpoint">
            <li class="sell-icon"><img src="images/icons_11.png" alt="#" title="#"></li>
            <li class="sell-title">Select assetgroup</li>
            <li class="sell-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum et urna eget facilisis. Fusce sed quam non libero vehicula porta vitae sit amet purus. Morbi id dolor at nisi faucibus dignissim. Aenean risus tortor, sagittis sodales semper tempor. </li>
        </ul>
        <ul class="sellingpoint">
            <li class="sell-icon"><img src="images/icons_14.png" alt="#" title="#"></li>
            <li class="sell-title">Select assetgroup</li>
            <li class="sell-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum et urna eget facilisis. Fusce sed quam non libero vehicula porta vitae sit amet purus. Morbi id dolor at nisi faucibus dignissim. Aenean risus tortor, sagittis sodales semper tempor. </li>
        </ul>
        <ul class="sellingpoint">
            <li class="sell-icon"><img src="images/icons_17.png" alt="#" title="#"></li>
            <li class="sell-title">Select assetgroup</li>
            <li class="sell-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum et urna eget facilisis. Fusce sed quam non libero vehicula porta vitae sit amet purus. Morbi id dolor at nisi faucibus dignissim. Aenean risus tortor, sagittis sodales semper tempor. </li>
        </ul>
        <ul class="sellingpoint">
            <li class="sell-icon"><img src="images/icons_20.png" alt="#" title="#"></li>
            <li class="sell-title">Select assetgroup</li>
            <li class="sell-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum et urna eget facilisis. Fusce sed quam non libero vehicula porta vitae sit amet purus. Morbi id dolor at nisi faucibus dignissim. Aenean risus tortor, sagittis sodales semper tempor. </li>
        </ul>
    </div>
</div>

<div id="storyexamples">
    <div class="container">
        <h2>Check out what other users made</h2>
        <ul>
            <li><a href="#"><img src="images/madestories_27.png" alt="#"></a></li>
            <li><a href="#"><img src="images/madestories_28.png" alt="#"></a></li>
            <li><a href="#"><img src="images/madestories_29.png" alt="#"></a></li>
            <li><a href="#"><img src="images/madestories_27.png" alt="#"></a></li>
            <li><a href="#"><img src="images/madestories_28.png" alt="#"></a></li>
            <li><a href="#"><img src="images/madestories_27.png" alt="#"></a></li>
            <li><a href="#"><img src="images/madestories_29.png" alt="#"></a></li>
            <li><a href="#"><img src="images/madestories_28.png" alt="#"></a></li>
            <li><a href="#"><img src="images/madestories_27.png" alt="#"></a></li>
            <li><a href="#"><img src="images/madestories_29.png" alt="#"></a></li>
            <li><a href="#"><img src="images/madestories_27.png" alt="#"></a></li>
            <li><a href="#"><img src="images/madestories_28.png" alt="#"></a></li>
        </ul>
    </div>
</div>

<div id="testimonials">
    <div class="container">
        <h2>what our users say</h2>
        <div class="user-test">
            <img src="images/gebruiker.PNG" class="user-icon" alt="">
            <p class="test-name">Sarah petersen</p>
            <p class="test-text">Pellentesque semper neque faucibus odio posuere varius. Duis sit amet vehicula lectus.
                semper neque faucibus odio.</p><p>Pellentesque semper neque faucibus odio posuere varius posuere varius. Duis sit amet vehicula lectus. Proin eu urna tellus. In sed arcu a ante placerat iaculis. Nam id malesuada magna. Quisque in leo dolor. Praesent lacinia hendrerit magna at fringilla. Integer ultrices mauris vel orci lobortis suscipit.</p>
            </ul>
        </div>
        <div class="user-test">
            <img src="images/gebruiker.PNG" class="user-icon" alt="">
            <p class="test-name">Sarah petersen</p>
            <p class="test-text">Pellentesque semper neque faucibus odio posuere varius. Duis sit amet vehicula lectus.
                semper neque faucibus odio.</p><p>Pellentesque semper neque faucibus odio posuere varius posuere varius. Duis sit amet vehicula lectus. Proin eu urna tellus. In sed arcu a ante placerat iaculis. Nam id malesuada magna. Quisque in leo dolor. Praesent lacinia hendrerit magna at fringilla. Integer ultrices mauris vel orci lobortis suscipit.</p>
            </ul>
        </div>
        <div class="user-test">
            <img src="images/gebruiker.PNG" class="user-icon" alt="">
            <p class="test-name">Sarah petersen</p>
            <p class="test-text">Pellentesque semper neque faucibus odio posuere varius. Duis sit amet vehicula lectus.
                semper neque faucibus odio.</p><p>Pellentesque semper neque faucibus odio posuere varius posuere varius. Duis sit amet vehicula lectus. Proin eu urna tellus. In sed arcu a ante placerat iaculis. Nam id malesuada magna. Quisque in leo dolor. Praesent lacinia hendrerit magna at fringilla. Integer ultrices mauris vel orci lobortis suscipit.</p>
            </ul>
        </div>
        <div class="user-test">
            <img src="images/gebruiker.PNG" class="user-icon" alt="">
            <p class="test-name">Sarah petersen</p>
            <p class="test-text">Pellentesque semper neque faucibus odio posuere varius. Duis sit amet vehicula lectus.
                semper neque faucibus odio.</p><p>Pellentesque semper neque faucibus odio posuere varius posuere varius. Duis sit amet vehicula lectus. Proin eu urna tellus. In sed arcu a ante placerat iaculis. Nam id malesuada magna. Quisque in leo dolor. Praesent lacinia hendrerit magna at fringilla. Integer ultrices mauris vel orci lobortis suscipit.</p>
            </ul>
        </div>
    </div>
</div>