<div id="backgroundwrapper">
    <div id="loginfieldwrapper">
        <img src="../images/inloglogo.png" alt="Logo">
        <form role="form">
            <div class="form-group">
                <label for="usernameinput">Username</label>
                <input type="email" class="form-control" id="usernameinput" placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="passwordinput">Password</label>
                <input type="password" class="form-control" id="passwordinput" placeholder="Enter your password">
            </div>
        </form>
        <div id="loginbottomwrapper">
            <button>Log in</button> <input type="checkbox"><p>Stay logged in</p>
        </div>
        <a href="#/register"><p class="createaccount">Create an account</p></a>
    </div>
</div>