<canvas id="preview">
    No HTML 5 support found! Please update your browser.
</canvas>
<div id="previewbar">
    <div id="leftside">
        <a href="javascript:history.back()">
             <div id="backbutton">
                <img id="back" src="images/arrowleft.png" alt="<"/>
                <p>BACK</p>
             </div>
        </a>
        <a href="#/home">
            <img id="logo" src="images/Logo.png" alt="logo"/>
        </a>
        <p id="linktitle">LINK TO THIS STORY</p>
    </div>
    <div id="rightside">
        <p id="link">www.astory.com/johndoe/thejourney/preview</p>
        <div id="shareicons">
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_facebook"><img src ="images/share_facebook.png" alt = "facebook"></a>
                <a class="addthis_button_twitter"><img src="images/share_twitter.png" alt="twitter"></a>
                <a class="addthis_button_gmail"><img src="images/share_mail.png" alt="hyves"></a>
                <a class="addthis_button_compact"><img src="images/share_plus.png" alt="plus"></a>
            </div>
            <!--<img src="images/share_facebook.png" alt="facebook">
            <img src="images/share_twitter.png" alt="twitter">
            <img src="images/share_hyves.png" alt="hyves">
            <img src="images/share_plus.png" alt="plus">-->
        </div>
    </div>
</div>