<div id="backgroundwrapper">
    <div id="registerfieldwrapper">
        <a href="#/home">
            <img src="../images/inloglogo.png" alt="Logo">
        </a>
        <form role="form" name="registerform">
            <div class="form-group">
                <label for="usernameinput" class="inline" id="usernameLabel">Username</label><p class="validationmessage" data-ng-show="usedusername">Username is already in use</p>
                <input type="text" class="form-control" data-ng-model="username" id="usernameinput" required>
            </div>
            <div class="form-group">
                <label for="passwordinput" class="passwordlabel">Password</label>
                <input type="password" pattern=".{6,}" data-ng-minlength="6" class="form-control" data-ng-model="password" id="passwordinput" required>
            </div>
            <div class="form-group">
                <label for="emailinput" class="inline" id="emaillabel">E-mail address</label><p class="validationmessage" data-ng-show="usedemail">E-mail is already in use</p>
                <input type="email"  name="email" class="form-control" data-ng-model="email" id="emailinput" required>
            </div>
            <div class="form-group">
                <label>Date of birth</label>
                <div class="selectwrapperday">
                    <select class="day" id="birthdatedayinput" data-type="number" data-ng-model = "birthdateday" name="birthdateday" data-ng-change="checkBirthdateValidity()" required>
                        <option value="" selected disabled>Day</option>
                        <option data-ng-repeat="day in days" value="{{day}}">{{day}}</option>
                    </select>
                </div>
                <div class="selectwrappermonth">
                    <select class="month" id="birthdatemonthinput" data-ng-model = "birthdatemonth" data-ng-change="checkBirthdateValidity()" required>
                        <option value="" selected disabled>Month</option>
                        <option data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]" value= "{{i}}">{{months[i - 1]}}</option>
                    </select>
                </div>
                <div class="selectwrapperyear">
                    <select class="year" id="birthdateyearinput"  data-ng-model = "birthdateyear" data-ng-change="checkBirthdateValidity()" required>
                        <option value="" selected disabled>Year</option>
                        <option data-ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                </div>
            </div>
            <input type="checkbox"><p class="updatemessage">Keep me updated on new features and changes</p>
            <div id ="registerbottomwrapper">
                <button id="registerbutton" data-ng-click="register();" data-ng-disabled="birthdateinvalid  || registerform.$invalid ">Register</button>
            </div>
            <a href="#/login"><p class="login">Log in to an existing account</p></a>
        </form>

    </div>
</div>