<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Astory</title>
    <!-- Bootstrap core CSS -->
    <link href="css/storyoverview.css" rel="stylesheet">
</head>
<body>

<div id="titlewrapper">
    <div id="titlebar">
        <div id="titlename"><p>NAME</p></div>
        <div id="titledate"><p>DATE ADDED</p></div>
    </div>
</div>
<div class="story">
    <div class="storyimage"><img src="images/sceneexample.png" alt="story 1"/></div>
    <div class="storyname"><p>DAPPER EN STOER</p></div>
    <div class="storydate"><p>09/12/2013</p></div>
    <div class="sharebutton"><img src="images/sharebutton.png" alt = "share"/></div>
    <div class="viewbutton"><p>VIEW</p></div>
    <div class="editbutton"><p>EDIT</p></div>
    <div class="storysettings"><p>SETTINGS</p></div>
</div>

<div class="story">
    <div class="storyimage"><img src="images/sceneexample.png" alt="story 1"/></div>
    <div class="storyname"><p>DAPPER EN STOER heeeuj jjuejuejeuee hueh uh uehuheu hhheeeueujj</p></div>
    <div class="storydate"><p>09/12/2013</p></div>
    <div class="sharebutton"><img src="images/sharebutton.png" alt = "share"/></div>
    <div class="viewbutton"><p>VIEW</p></div>
    <div class="editbutton"><p>EDIT</p></div>
    <div class="storysettings"><p>SETTINGS</p></div>
</div>

<div class="story">
    <div class="storyimage"><img src="images/sceneexample.png" alt="story 1"/></div>
    <div class="storyname"><p>12345123451234512345123451234512345123451234512345123451234512345123451234512345123451234512345</p></div>
    <div class="storydate"><p>09/12/2013</p></div>
    <div class="sharebutton"><img src="images/sharebutton.png" alt = "share"/></div>
    <div class="viewbutton"><p>VIEW</p></div>
    <div class="editbutton"><p>EDIT</p></div>
    <div class="storysettings"><p>SETTINGS</p></div>
</div>

<div class="story">
    <div class="storyimage"><img src="images/sceneexample.png" alt="story 1"/></div>
    <div class="storyname"><p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p></div>
    <div class="storydate"><p>09/12/2013</p></div>
    <div class="sharebutton"><img src="images/sharebutton.png" alt = "share"/></div>
    <div class="viewbutton"><p>VIEW</p></div>
    <div class="editbutton"><p>EDIT</p></div>
    <div class="storysettings"><p>SETTINGS</p></div>
</div>

</body>
</html>