<head>
    <link href="css/storyoverview.css" rel="stylesheet">
</head>

<div id="titlewrapper">
    <div id="titlebar">
        <div id="titlename"><p>NAME</p></div>
        <div id="titledate"><p>DATE ADDED</p></div>
    </div>
    <div id="newstorybutton" data-ng-click="showCreateStoryPopup();">
        <p>NEW STORY</p>
        <img src="images/arrowright.png" alt=">"/>
    </div>
</div>

<div class="story" data-ng-repeat="story in stories">
    <div class="storyimage"><img src="images/sceneexample.png" alt="{{story.name}}"/></div>
    <div class="storyname"><p>{{story.name}}</p></div>
    <div class="storydate"><p>{{story.date}}</p></div>
    <div class="storysettings" data-ng-click="showStoryPopup($index);"><p>SETTINGS</p></div>
    <a href="#/preview"><div class="viewbutton"><p>PREVIEW</p></div></a>
    <div class="editbutton" data-ng-click="openStory($index);"><p>OPEN</p></div>
</div>