<div id="popupcontainer">
    <div class="popupheader">
        <p>Settings - {{storyname}}</p>

        <div class="popupclosebutton" data-ng-click="close()"></div>
    </div>
    <div id="popupwrapper">
        <h1>Name your story</h1>
        <input class="popupinput" type="text" placeholder="Enter a story name" data-ng-model="storyname">

        <p class="edit">Edit</p>

        <h1>Sharing</h1>

        <p class="sharedescription">Before you can share this story with other members you need to set its privacy
            settings to "Only members". Want to share this with Facebook or other social media? Set it to public.</p>

        <form>
            <input class="checkboxes" type="radio" name="sharesetting" value="Private">

            <p class="checkboxdescription"><b>Private</b> - Nobody else can see this story</p><br>
            <input class="checkboxes" type="radio" name="sharesetting" value="Only members">

            <p class="checkboxdescription"><b>Only members</b> - Only you and other members can see this story</p><br>
            <input class="checkboxes" type="radio" name="sharesetting" value="Public">

            <p class="checkboxdescription"><b>Public</b> - Everyone can see this story. You can share it via social
                media</p><br>
        </form>
        <p class="bottomleftredtext" data-ng-click="deleteStory()">Delete this story</p>

        <p class="cancelstorybutton" data-ng-click="close()">Cancel</p>
        <button class="bottomrightbutton" data-ng-click="saveStory(storyname)">Save settings</button>
    </div>
</div>
