<head>
    <link href="css/storyoverview.css" rel="stylesheet">
</head>

<div id="titlewrapper">
    <div id="titlebar">
        <div id="titlename"><p>NAME</p></div>
        <div id="titledate"><p>DATE ADDED</p></div>
    </div>
    <div id="newstorybutton" data-ng-click="showCreateStoryPopup();">
        <p>NEW STORY</p>
        <img src="images/arrowright.png" alt=">"/>
    </div>
</div>

<div class="story">
    <div class="storyimage"><img src="images/sceneexample.png" alt="story 1"/></div>
    <div class="storyname"><p>DAPPER EN STOER</p></div>
    <div class="storydate"><p>09/12/2013</p></div>
    <div class="sharebutton"><img src="images/sharebutton.png" alt = "share"/></div>
    <a href="#/preview"><div class="viewbutton"><p>VIEW</p></div></a>
    <a href="#/editor"><div class="editbutton"><p>EDIT</p></div></a>
    <div class="storysettings" data-ng-click="showStoryPopup();"><p>SETTINGS</p></div>
</div>

<div class="story">
    <div class="storyimage"><img src="images/sceneexample.png" alt="story 1"/></div>
    <div class="storyname"><p>DAPPER EN STOER heeeuj jjuejuejeuee hueh uh uehuheu hhheeeueujj</p></div>
    <div class="storydate"><p>09/12/2013</p></div>
    <div class="sharebutton"><img src="images/sharebutton.png" alt = "share"/></div>
    <a href="#/preview"><div class="viewbutton"><p>VIEW</p></div></a>
    <a href="#/editor"><div class="editbutton"><p>EDIT</p></div></a>
    <div class="storysettings" data-ng-click="showStoryPopup();"><p>SETTINGS</p></div>
</div>

<div class="story">
    <div class="storyimage"><img src="images/sceneexample.png" alt="story 1"/></div>
    <div class="storyname"><p>12345123451234512345123451234512345123451234512345123451234512345123451234512345123451234512345</p></div>
    <div class="storydate"><p>09/12/2013</p></div>
    <div class="sharebutton"><img src="images/sharebutton.png" alt = "share"/></div>
    <a href="#/preview"><div class="viewbutton"><p>VIEW</p></div></a>
    <a href="#/editor"><div class="editbutton"><p>EDIT</p></div></a>
    <div class="storysettings" data-ng-click="showStoryPopup();"><p>SETTINGS</p></div>
</div>

<div class="story">
    <div class="storyimage"><img src="images/sceneexample.png" alt="story 1"/></div>
    <div class="storyname"><p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p></div>
    <div class="storydate"><p>09/12/2013</p></div>
    <div class="sharebutton"><img src="images/sharebutton.png" alt = "share"/></div>
    <a href="#/preview"><div class="viewbutton"><p>VIEW</p></div></a>
    <a href="#/editor"><div class="editbutton"><p>EDIT</p></div></a>
    <div class="storysettings" data-ng-click="showStoryPopup();"><p>SETTINGS</p></div>
</div>