<div class="popupbackground">
    <div id="popupcontaineraccount">
        <div class="popupheader">
            <p>Settings Dapper & Stoer</p>

            <div class="popupclosebutton"></div>
        </div>
        <div id="accountpopupwrapper">
            <h1>Name your story</h1>
            <input class="popupinput" type="text" placeholder="Enter a story name"><p class="edit">Edit</p>
            <h1>Sharing</h1>
            <p class="sharedescription">Before you can share this story with other members you need to set it's privacy settings to "Only members". Want to share this with Facebook or other social media? Set it to public</p>
            <form>
                <input class="checkboxes" type="radio" name="sharesetting" value="Private"><p class="checkboxdescription"><b>Private</b> - Nobody else can see this story</p><br>
                <input class="checkboxes" type="radio" name="sharesetting" value="Only members"><p class="checkboxdescription"><b>Only members</b> - Only you and other members can see this story</p><br>
                <input class="checkboxes" type="radio" name="sharesetting" value="Public"><p class="checkboxdescription"><b>Public</b> - Everyone can see this story. You can share it via social media</p><br>
            </form>
            <p class="deletestorybutton">Delete this story</p>
            <p class="cancelstorybutton">Cancel</p>
            <button class="savestorybutton">Save settings</button>
        </div>
    </div>
</div>