html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-width: 1000px;
    height: 100%;
}

@font-face
{
    font-family: ProximaSemibold;
    src: url('../fonts/Proxima/ProximaNova-Semibold.otf'),
    url('../fonts/Proxima/ProximaNova-Semibold.otf'); /* IE9 */
}

@font-face
{
    font-family: Proxima;
    src: url('../fonts/Proxima/ProximaNova-Regular.otf'),
    url('../fonts/Proxima/ProximaNova-Regular.otf'); /* IE9 */
}

@font-face
{
    font-family: ProximaLight;
    src: url('../fonts/Proxima/ProximaNova-Light.otf'),
    url('../fonts/Proxima/ProximaNova-Light.otf'); /* IE9 */
}

/* Navbar */
#navbar {
    background-color: #252525;
    min-height: 70px;
}

#navbar a{
    color: #e4e4e4;
    text-decoration: none;
}


img.navlogo {
    margin-top: 5px;
    margin-left: 25px;
    height: 55px;
    width: 150px;
}

/* Rechter kant van de nav */
.navlink, .navaccount{
    height: 70px;
    color: #e4e4e4;
    font-size: 14px;
    float: right;
    border-left: 1px solid #3c3d3d;
    display: inline-table;
}

/*Knoppen aan de rechter kant */
.navlink {
    font-family: ProximaSemibold;
    width: 120px;
    text-align: center;
    line-height: 70px;
}

.navlink:hover {
    background-color: #e23e1f;
}

.navaccount {
    min-width: 280px;
}

/*Profielplaatje */
.navaccount img{
    margin-top: 5px;
    margin-left: 10px;
    float:left;
    height: 60px;
    width: 60px;
}

#accountstorywrapper{
    margin-left: 20px;
    float:left
}

/*Accountnaam */
.navaccount p{
    font-family: Proxima;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
}

.navstorybutton, #navdropdownbutton {
    font-family: Proxima;
    text-align: center;
    font-size: 12px;
}

/*Aantal stories button */
.navstorybutton {
    width: 80px;
    height:20px;;
    border-radius: 20px;
    line-height: 20px;
    background-color: #6a6a6a;
}

/*Navbar detail button */
#navdropdownbutton img{
    width: 8px;
    height: 6px;
    margin-left: 6px;
    margin-top: 7px;
}

#navdropdownbutton {
    float:right;
    width:20px;
    height:20px;
    background-color: #545454;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 20px;
}
/* NAVBAR EINDIGT HIER */
#editorbar, #previewbutton {
    min-height: 60px;
}

#editorbar{
    background-color: #f5f5f5;
}

#previewbutton {
    text-align: center;
    color:white;
    background-color: #e23e1f;
    float:right;
    min-width: 130px;
}

#previewbutton p{
    font-family: ProximaSemibold;
    font-size: 15px;
    float:left;
    margin-right: 0;
}

#previewbutton img{
    float:right;
    width: 8px;
    height: 10px;
    margin-top: 25px;
    margin-right: 15px;
}


#previewbutton p, #editorbar p.savemessage {
    line-height: 60px;
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 0;
}

#previewbutton:hover {
    background-color: #8f8f8f;
}

#editorbar p.savemessage{
    float:right;
    font-family: ProximaLight;
    margin-right: 25px;
    font-size: 12px;
    color: #8f8f8f;

}

.editorbarbutton {
    font-family: ProximaLight;
    font-size: 12px;
    border-right: 1px solid #e6e6e6;
    float:left;
    min-width: 135px;
}

.editorbarbutton p{
    line-height: 60px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.editorbarbutton img{
    margin-left: 20px;
}
/*EDITORBAR EINDIGT HIER */

/*Assetmenu*/
#assetmenu {
    float:left;
    width:330px;
    min-width: 330px;
    height: calc(100% - 130px);
    padding-left: 17px;
}

#assetmenu select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: ProximaSemibold;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 30px;
    background-color: white;
    width: 310px;
    height:40px;
    line-height: 40px;
    border: 1px solid #d3d3d3;
    background: url(../images/arrowdown3.png) no-repeat 95%, 0%;
    text-indent: 8px;
}



p.assetmenudescription {
    font-family: ProximaLight;
    font-style: italic;
    color: #696969;
    font-size: 11px;
    max-width:280px;
    padding-bottom: 30px;
    padding-left: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.assetgroupswrapper {
    overflow-y : auto;
    overflow-x: hidden;
    height: calc(100% - 135px);
}

.assetgroup {
    width: 300px;
    padding-right: 20px;
}

.assetgroupheader {
    font-family: ProximaSemibold;
    font-size: 14px;
    text-transform : uppercase;
    border-bottom: 1px solid #f2f2f2;
    width: 280px;
    padding-left: 5px;
    margin-top: 30px;
    padding-bottom: 15px;
}

.assetgroupheader p{
    max-width: 265px;
    display: inline;
}

.assetgroupheader img{
    float:right;
}

.assetwrapper {
    width: 80px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}

.assetwrapper {
    margin-right: 20px;

}

.assetwrapper p, .assetwrapper-right p{
    text-align: center;
    font-size: 13px;
    font-family: Proxima;
    color: #acadad;
    margin: 0;
    margin-top: 10px;
}

.assetscontainer {
}

.asset {
    border-radius: 3px;
    max-height:80px;
    width: 80px;
    border: 1px solid #e0e0e0;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

.asset img {
    vertical-align: bottom;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
}

/*
light
italic
11
*/
/*
regular
13
acadad
*/