html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-width: 1060px;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@font-face
{
    font-family: ProximaSemibold;
    src: url('../fonts/Proxima/ProximaNova-Semibold.otf'),
    url('../fonts/Proxima/ProximaNova-Semibold.otf'); /* IE9 */
}

@font-face
{
    font-family: Proxima;
    src: url('../fonts/Proxima/ProximaNova-Regular.otf'),
    url('../fonts/Proxima/ProximaNova-Regular.otf'); /* IE9 */
}

@font-face
{
    font-family: ProximaLight;
    src: url('../fonts/Proxima/ProximaNova-Light.otf'),
    url('../fonts/Proxima/ProximaNova-Light.otf'); /* IE9 */
}

@font-face
{
    font-family: ProximaBold;
    src: url('../fonts/Proxima/ProximaNova-Bold.otf'),
    url('../fonts/Proxima/ProximaNova-Bold.otf'); /* IE9 */
}

/* Navbar */
#navbar {
    background-color: #252525;
    min-height: 70px;
}

#navbar a{
    color: #e4e4e4;
    text-decoration: none;
}


img.navlogo {
    margin-top: 5px;
    margin-left: 25px;
    height: 55px;
    width: 150px;
}

/* Rechter kant van de nav */
.navlink, #navaccount{
    height: 70px;
    color: #e4e4e4;
    font-size: 14px;
    float: right;
    border-left: 1px solid #3c3d3d;
    display: inline-table;
}

/*Knoppen aan de rechter kant */
.navlink {
    font-family: ProximaSemibold;
    width: 120px;
    text-align: center;
    line-height: 70px;
}

.navlink:hover {
    background-color: #e23e1f;
}

#navaccount, #accountdropdown {
    min-width: 280px;
}

#accountdropdown {
    box-shadow: 1px 3px 1px 1px #d3d3d3;
    -moz-box-shadow: 1px 1px 1px 1px #d3d3d3;
}

#navaccount {
    position: relative;
}

/*Profielplaatje */
#navaccount img{
    margin-top: 5px;
    margin-left: 10px;
    float:left;
    height: 60px;
    width: 60px;
}

#accountstorywrapper{
    margin-left: 20px;
    float:left
}

/*Accountnaam */
#navaccount p{
    font-family: Proxima;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
}

#navstorybutton, #navdropdownbutton {
    font-family: Proxima;
    text-align: center;
    font-size: 12px;
}

/*Aantal stories button */
#navstorybutton {
    width: 80px;
    height:20px;;
    border-radius: 20px;
    line-height: 20px;
    background-color: #343434;
    color: #7d7d7d;
}

/*Navbar detail button */
#navdropdownbutton img{
    width: 8px;
    height: 6px;
    margin-left: 6px;
    margin-top: 7px;
}

#navdropdownbutton:hover {
    background-color: #e23e1f!important;
    cursor: pointer;
}

#navdropdownbutton {
    float:right;
    width:20px;
    height:20px;
    background-color: #3f3f3f;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 20px;
}

#accountdropdown {
    margin-top: 70px;
    position:absolute;
    background-color: white;
    height: 100px;
}

#accountdropdown li.settingsbutton {
    list-style-image: url('../images/profileicon.png');
    background-color: #e8e8e8;
    height: 40px;
}

#accountdropdownbuttonwrapper {
    position: absolute;
    bottom: 0;
    width: calc(100% - 16px);
    margin-left: 8px;
}

.accountdropdownbuttonprofile p, .accountdropdownbuttonlogout p{
    display: inline;
    color: #545454;
    font-family: ProximaLight;
    line-height: 40px;
    margin-left: 30px;
}

.accountdropdownbuttonprofile, .accountdropdownbuttonlogout {
    height: 40px;
    background-repeat: no-repeat;
    background-position: 2%;
    border-top: 1px solid #e8e8e8;
}

.accountdropdownbuttonprofile:hover, .accountdropdownbuttonlogout:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.accountdropdownbuttonprofile{
    background-image: url('../images/profileicon.png');
}

.accountdropdownbuttonlogout{
    background-image: url('../images/logouticon.png');
}

/* NAVBAR EINDIGT HIER */
#editorbar, #previewbutton {
    min-height: 60px;
}

#editorbar {
    background-color: #f5f5f5;
}

#previewbutton {
    text-align: center;
    color:white;
    background-color: #e23e1f;
    float:right;
    min-width: 130px;
}

#previewbutton p{
    font-family: ProximaSemibold;
    font-size: 15px;
    float:left;
    margin-right: 0;
}

#previewbutton img{
    float:right;
    width: 8px;
    height: 10px;
    margin-top: 25px;
    margin-right: 15px;
}


#previewbutton p, #editorbar p.savemessage {
    line-height: 60px;
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 0;
}

#previewbutton:hover {
    background-color: #8f8f8f;
}

#editorbar p.savemessage {
    float:right;
    font-family: ProximaLight;
    margin-right: 25px;
    font-size: 12px;
    color: #8f8f8f;

}

.editorbarbuttonwrapper {
    position: relative;
    float:left;
}

.editorbarbutton, .editorbaritem {
    position: relative;
    font-family: ProximaLight;
    font-size: 12px;
    border-right: 1px solid #e6e6e6;
    float:left;
    min-width: 135px;
    z-index: 2;
}

.editorbarbutton:hover {
    background-color: white;
    cursor: pointer;
}

.editorbarbutton p, .editorbaritem p {
    line-height: 60px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.editorbarbutton img, .editorbarbutton img.settings {
    margin-left: 20px;
}

.editorbarbutton img.settings {
    position: relative;
    top: 0px;
}

.editorbardropdown {
    top: 60px;
    min-width: 600px;
    min-height: 315px;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    -moz-box-shadow: 1px 1px 1px 1px #d3d3d3;
}

p.helpmessage {
    color: #7a7a7a;
    font-size: 12px;
    font-family: ProximaLight;
    position: absolute;
    right:0;
    bottom: 57px;
    max-width: 65px;
}

/*
.editorbardropdown img.trashcan {
    position: absolute;
    bottom: 0;
    right: 0;
} */

.trashcan {
    width: 59px;
    height: 57px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../images/trashbin.PNG');
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

#scenariolistheader {
    border-bottom: 1px solid #e8e8e8;
    margin-left: 45px;
    width: 390px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#scenariolistheader p, #scenariolistheader p.right {
    margin: 0;
    display: inline;
    font-family: Proxima;
    font-size: 13px;
}

#scenariolistheader p {
}

#scenariolistheader p.right{
    float:right;
}

#scenariolistcontainer {
    direction: rtl;
    width: 460px;
    height: 230px;
    margin-left: 10px;
    float:left;
    overflow-y: scroll;
}

#scenarioswrapper {
    height: 215px;
    margin-left: 15px;
    direction: ltr;
}

#scenarioswrapper p {
    color: #989898;
    font-family: Proxima;
    font-size: 14px;
    margin-left: 5px;
    float: left;
}

.scenariocontainer {
    width:390px;
    height:36px;
    float:left;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    margin-bottom: 10px;
    background-image: url('../images/dragbalk.PNG');
    background-position: left;
    background-repeat: no-repeat;
}

.scenariocontainer p {
    font-family: ProximaLight;
    width: 262px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 36px;
    overflow: hidden;
    margin:0;
}

.linkfromarea, .linktoarea {
    width: 54px;
    height: 36px;
    overflow: hidden;
}

.linkfromblock, .linktoblock {
    width: 18px;
    height: 18px;
    text-align: center;
    color: white;
    font-family: ProximaSemibold;
    font-size: 11px;
    line-height: 18px;
}

.linkfromblock {
    float:left;
    background-color: #8eb2f4;
}

.linkfromblock:nth-child(1) {
    background-color: #427fed;
}

.linkfromblock:nth-child(2) {
    background-color: #719ff2;
}

.linktoblock {
    background-color: #bfe06e;
    float:right;
}

.linktoblock:nth-child(3){
    background-color: #94cc0e;
}

.linktoblock:nth-child(2){
    background-color: #afd94a;
}

.linkfromarea {
    margin-left: 15px;
    float:left;
}

.linktoarea {
    float: right;
}

button.newscenariobutton {
    width: 100px;
    height: 30px;
    background-color: #e23e1f;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: ProximaSemibold;
    font-size: 12px;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

/*EDITORBAR EINDIGT HIER */

/*Assetmenu*/
#assetmenu {
    float:left;
    width:330px;
    min-width: 330px;
    height: 100%;
    padding-left: 17px;
    padding-right: 8px;
}

#assetmenu select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: ProximaSemibold;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 30px;
    background-color: white;
    width: 310px;
    height:40px;
    border: 1px solid #d3d3d3;
    background: url(../images/arrowdown3.png) no-repeat 95%, 0%;
    text-indent: 8px;
}



p.assetmenudescription {
    font-family: ProximaLight;
    font-style: italic;
    color: #696969;
    font-size: 11px;
    max-width:280px;
    padding-bottom: 30px;
    padding-left: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.assetgroupswrapper {
    overflow-y : auto;
    overflow-x: hidden;
    height: calc(100% - 135px);
}

.assetgroup {
    width: 300px;
    padding-right: 20px;
}

.assetgroupheader {
    cursor: pointer;
    font-family: ProximaSemibold;
    font-size: 14px;
    text-transform : uppercase;
    border-bottom: 1px solid #f2f2f2;
    width: 280px;
    padding-left: 5px;
    margin-top: 30px;
    padding-bottom: 15px;
}

.assetgroupheader p{
    max-width: 265px;
    display: inline;
}

.assetgroupheader img{
    float:right;
}

.assetgroupheader img.hidden {
    margin-right:2px;
}

.assetgroupswrapper {
    overflow-y : auto;
    overflow-x: hidden;
    height: calc(100% - 135px);
}

.assetwrapper {
    width: 80px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}

.assetwrapper {
    margin-right: 20px;
}

.assetwrapper p, .assetwrapper-right p{
    text-align: center;
    font-size: 13px;
    font-family: Proxima;
    color: #acadad;
    margin: 0;
    margin-top: 10px;
}

.asset {
    border-radius: 3px;
    max-height:80px;
    width: 80px;
    border: 1px solid #e0e0e0;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

.asset img {
    vertical-align: bottom;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
}

/*EINDE ASSET BAR */

#editorarea {
    float: left;
    width: calc(100% - 357px); /* - assetmenu width */
    height: 100%; /* - top bars' height */
}

#editor {
    float: left;
    width: 100%;
    height: calc(100% - 125px);
    background-image: url('../images/noise.png');
}

/* Scènebalk */

#scenewrapper {
    width: calc(100% - 126px); /* - trash can width */
    float: left;
    overflow: auto;
}

#scenemenu {
    width: 150%;
    max-height: 110px;
    float: left;
    border-left: solid 2px #F4F3EC;
    overflow: auto;
}

.scene {
    float: left;
    padding: 12px 5px 8px 5px;
}

.scene p {
    margin:0;
    text-align: center;
    font-size: 13px;
    font-family: Proxima;
}

.dots {
    float: left;
    position: relative;
    top: 40px;
    padding: 9px 10px 5px 10px;
}

#plus {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 28px;
    padding: 10px;
}

#scenetrash {
    background: url(../images/trashbin2.png) no-repeat;
    background-position: center;
    background-color: #f5f5f5;
    float: left;
    height: 125px;
    width: 125px;
    border-left: solid 1px #d3d3d3;
}

/* EINDE SCÈNEBALK */

/* Story settings popup */
.popupbackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.popupheader {
    line-height: 55px;
    border-bottom: 1px solid #dadada;
}

.popupheader p {
    border-right: 1px solid #f5f5f5;
    width: calc(100% - 86px);
    margin: 0;
    margin-left: 30px;
    font-family: ProximaBold;
    font-size: 17px;
    color: #484848;
    float:left;
}

.popupheader, .popupclosebutton {
    height: 55px;
    background-color: #eaeaea;
}

.popupclosebutton {
    float:left;
    width: 54px;
    border-left: 1px solid #dadada;
    background-image: url('../images/closebutton.png');
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
}

.popupclosebutton:hover {
    cursor: pointer;
}

#popupcontaineraccount {
    height: 500px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -415px;
}

#popupcontaineraccount, .popupheader{
    width: 830px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#popupcontaineraccount h1 {
    font-family: ProximaSemibold;
    font-size: 20px;
    color: #484848;
    margin: 0;
}

#accountpopupwrapper {
    width: 785px;
    height: 385px;
    margin-left: 20px;
    margin-top: 25px;
    position: relative;
}

#accountpopupwrapper p.edit {
    color: #7c7c7c;
    display: inline-block;
    margin-left: 20px;
    font-family: Proxima;
    font-size: 15px;
}

#accountpopupwrapper p.sharedescription {
    font-family: Proxima;
    font-size: 16px;
    color: #6e6e6e;
    margin-top: 15px;
    margin-bottom: 30px;
}

input.checkboxes {
    background-color: white;
    margin-bottom: 10px;
}

p.checkboxdescription {
    font-family: Proxima;
    font-size: 15px;
    color: #484848;
    display: inline;
    margin-left: 15px;
}

p.deletestorybutton, p.cancelstorybutton {
    text-decoration: underline;
    margin: 0;
    line-height: 40px;
    font-family: Proxima;
    font-size: 15px;
    position: absolute;
    bottom: 0;
}

p.deletestorybutton {
    color: #FF0000;
}

p.cancelstorybutton {
    color: #767676;
    right: 180px;
}

p.deletestorybutton:hover, p.cancelstorybutton:hover, p.edit {
    cursor: pointer;
}

button.savestorybutton {
    width: 150px;
    height: 40px;
    background-color: #e23e1f;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: ProximaSemibold;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}

input.popupinput {
    margin-top: 25px;
    margin-bottom: 30px;
    width: 640px;
    height: 45px;
    padding-left: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    font-family: ProximaSemibold;
    font-size: 15px;
    color: #4b4b4b;
}


/*
"Settings" - Proximanova semibold 17px #484848
Verhaalnaam - Proximanova bold 17px
Name your story - Proximanova semibold 20px
Storynaam - PRoximanova semibold 15px #4b4b4b
edit - Proxima nova 15px #7c7c7c
Sharedescription: Proxima novaregular 16px #6e6e6e
Private - Proximanova bold 15px #484848
Privatedescrip - Proximanova regular 13px #7d7d7d
Delete - Regular 15px
Cancel - proximanova 15px #767676
*/
