html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-width: 1000px;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@font-face
{
    font-family: ProximaSemibold;
    src: url('../fonts/Proxima/ProximaNova-Semibold.otf'),
    url('../fonts/Proxima/ProximaNova-Semibold.otf'); /* IE9 */
}

@font-face
{
    font-family: Proxima;
    src: url('../fonts/Proxima/ProximaNova-Regular.otf'),
    url('../fonts/Proxima/ProximaNova-Regular.otf'); /* IE9 */
}

@font-face
{
    font-family: ProximaLight;
    src: url('../fonts/Proxima/ProximaNova-Light.otf'),
    url('../fonts/Proxima/ProximaNova-Light.otf'); /* IE9 */
}

/* Navbar */
#navbar {
    background-color: #252525;
    min-height: 70px;
}

#navbar a{
    color: #e4e4e4;
    text-decoration: none;
}


img.navlogo {
    margin-top: 5px;
    margin-left: 25px;
    height: 55px;
    width: 150px;
}

/* Rechter kant van de nav */
.navlink, .navaccount{
    height: 70px;
    color: #e4e4e4;
    font-size: 14px;
    float: right;
    border-left: 1px solid #3c3d3d;
    display: inline-table;
}

/*Knoppen aan de rechter kant */
.navlink {
    font-family: ProximaSemibold;
    width: 120px;
    text-align: center;
    line-height: 70px;
}

.navlink:hover {
    background-color: #e23e1f;
}

.navaccount {
    min-width: 280px;
}

/*Profielplaatje */
.navaccount img{
    margin-top: 5px;
    margin-left: 10px;
    float:left;
    height: 60px;
    width: 60px;
}

#accountstorywrapper{
    margin-left: 20px;
    float:left
}

/*Accountnaam */
.navaccount p{
    font-family: Proxima;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
}

.navstorybutton, #navdropdownbutton {
    font-family: Proxima;
    text-align: center;
    font-size: 12px;
}

/*Aantal stories button */
.navstorybutton {
    width: 80px;
    height:20px;;
    border-radius: 20px;
    line-height: 20px;
    background-color: #6a6a6a;
}

/*Navbar detail button */
#navdropdownbutton img{
    width: 8px;
    height: 6px;
    margin-left: 6px;
    margin-top: 7px;
}

#navdropdownbutton {
    float:right;
    width:20px;
    height:20px;
    background-color: #545454;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 20px;
}
/* NAVBAR EINDIGT HIER */
#editorbar, #previewbutton {
    min-height: 60px;
}

#editorbar{
    background-color: #f5f5f5;
}

#previewbutton {
    text-align: center;
    color:white;
    background-color: #e23e1f;
    float:right;
    min-width: 130px;
}

#previewbutton p{
    font-family: ProximaSemibold;
    font-size: 15px;
    float:left;
    margin-right: 0;
}

#previewbutton img{
    float:right;
    width: 8px;
    height: 10px;
    margin-top: 25px;
    margin-right: 15px;
}


#previewbutton p, #editorbar p.savemessage {
    line-height: 60px;
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 0;
}

#previewbutton:hover {
    background-color: #8f8f8f;
}

#editorbar p.savemessage{
    float:right;
    font-family: ProximaLight;
    margin-right: 25px;
    font-size: 12px;
    color: #8f8f8f;

}

.editorbarbuttonwrapper {
    position: relative;
    float:left;
}

.editorbarbutton {
    position: relative;
    font-family: ProximaLight;
    font-size: 12px;
    border-right: 1px solid #e6e6e6;
    float:left;
    min-width: 135px;
    z-index: 2;
}

.editorbarbutton:hover {
    background-color: white;
    cursor: pointer;
}

.editorbarbutton p{
    line-height: 60px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.editorbarbutton img{
    margin-left: 20px;
}

.editorbardropdown {
    top: 60px;
    min-width: 600px;
    min-height: 315px;
    position: absolute;
    background-color: white;
}

p.helpmessage {
    color: #7a7a7a;
    font-size: 12px;
    font-family: ProximaLight;
    position: absolute;
    right:0;
    bottom: 57px;
    max-width: 65px;
}

/*
.editorbardropdown img.trashcan {
    position: absolute;
    bottom: 0;
    right: 0;
} */

.trashcan {
    width: 59px;
    height: 57px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../images/trashbin.PNG');
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

#scenariolistheader {
    border-bottom: 1px solid #e8e8e8;
    margin-left: 45px;
    width: 390px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#scenariolistheader p, #scenariolistheader p.right {
    margin: 0;
    display: inline;
    font-family: Proxima;
    font-size: 13px;
}

#scenariolistheader p{
}

#scenariolistheader p.right{
    float:right;
}

#scenariolistcontainer {
    direction: rtl;
    width: 460px;
    height: 230px;
    margin-left: 10px;
    float:left;
    overflow-y: scroll;
}

#scenarioswrapper {
    height: 215px;
    margin-left: 15px;
    direction: ltr;
}

#scenarioswrapper p {
    color: #989898;
    font-family: Proxima;
    font-size: 14px;
    margin-left: 5px;
    float: left;
}

.scenariocontainer {
    width:390px;
    height:36px;
    float:left;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    margin-bottom: 10px;
    background-image: url('../images/dragbalk.PNG');
    background-position: left;
    background-repeat: no-repeat;
}

.scenariocontainer p{
    font-family: ProximaLight;
    width: 262px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 36px;
    overflow: hidden;
    margin:0;
}

.linkfromarea, .linktoarea {
    width: 54px;
    height: 36px;
    overflow: hidden;
}

.linkfromblock, .linktoblock {
    width: 18px;
    height: 18px;
    text-align: center;
    color: white;
    font-family: ProximaSemibold;
    font-size: 11px;
    line-height: 18px;
}

.linkfromblock {
    float:left;
    background-color: #8eb2f4;
}

.linkfromblock:nth-child(1){
    background-color: #427fed;
}

.linkfromblock:nth-child(2){
    background-color: #719ff2;
}

.linktoblock {
    background-color: #bfe06e;
    float:right;
}

.linktoblock:nth-child(3){
    background-color: #94cc0e;
}

.linktoblock:nth-child(2){
    background-color: #afd94a;
}

.linkfromarea {
    margin-left: 15px;
    float:left;
}

.linktoarea {
    float: right;
}

button.newscenariobutton {
    width: 100px;
    height: 30px;
    background-color: #e23e1f;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: ProximaSemibold;
    font-size: 12px;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

/*EDITORBAR EINDIGT HIER */

/*Assetmenu*/
#assetmenu {
    float:left;
    width:330px;
    min-width: 330px;
    height: calc(100% - 130px);
    padding-left: 17px;
    padding-right: 8px;
}

#assetmenu select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: ProximaSemibold;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 30px;
    background-color: white;
    width: 310px;
    height:40px;
    line-height: 40px;
    border: 1px solid #d3d3d3;
    background: url(../images/arrowdown3.png) no-repeat 95%, 0%;
    text-indent: 8px;
}



p.assetmenudescription {
    font-family: ProximaLight;
    font-style: italic;
    color: #696969;
    font-size: 11px;
    max-width:280px;
    padding-bottom: 30px;
    padding-left: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.assetgroupswrapper {
    overflow-y : auto;
    overflow-x: hidden;
    height: calc(100% - 135px);
}

.assetgroup {
    width: 300px;
    padding-right: 20px;
}

.assetgroupheader {
    cursor: pointer;
    font-family: ProximaSemibold;
    font-size: 14px;
    text-transform : uppercase;
    border-bottom: 1px solid #f2f2f2;
    width: 280px;
    padding-left: 5px;
    margin-top: 30px;
    padding-bottom: 15px;
}

.assetgroupheader p{
    max-width: 265px;
    display: inline;
}

.assetgroupheader img{
    float:right;
}

.assetgroupheader img.hidden {
    margin-right:2px;
}

.assetscontainer {
}

.assetgroupswrapper {
    overflow-y : auto;
    overflow-x: hidden;
    height: calc(100% - 135px);
}

.assetwrapper {
    width: 80px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}

.assetwrapper {
    margin-right: 20px;

}

.assetwrapper p, .assetwrapper-right p{
    text-align: center;
    font-size: 13px;
    font-family: Proxima;
    color: #acadad;
    margin: 0;
    margin-top: 10px;
}

.assetscontainer {
}

.asset {
    border-radius: 3px;
    max-height:80px;
    width: 80px;
    border: 1px solid #e0e0e0;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

.asset img {
    vertical-align: bottom;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
}

/*EINDE ASSET BAR */

#editorarea {
    float: left;
    width: calc(100% - 357px); /* - assetmenu width */
    height: calc(100% - 60px - 70px); /* - top bars' height */
}

#editor {
    float: left;
    width: 100%;
    height: calc(100% - 125px);
    background-color: #F4F3EC;
}

/* Scènebalk */

#scenemenu {
    width: 100%;
    height: 125px;
    float: left;
    border-left: solid 2px #F4F3EC;
}

.scene {
    float: left;
    padding: 20px 10px 15px 10px;
}

.scene p {
    margin:0;
    text-align: center;
    font-size: 13px;
    font-family: Proxima;
}

.dots {
    float: left;
    position: relative;
    top: 40px;
    padding: 9px 10px 5px 10px;
}

#plus {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 28px;
    padding: 10px;
}

#scenetrash {
    background: url(../images/trashbin2.png) no-repeat 95%, 0%;
    background-position: center;
    background-color: #f5f5f5;
    float: right;
    height: 100%;
    width: 125px;
    border-left: solid 2px #F4F3EC;
}

/* EINDE SCÈNEBALK */