#editorbar, #previewbutton {
    min-height: 60px;
}

#editorbar {
    width: 100%;
    background-color: #f5f5f5;
}

#previewbutton {
    text-align: center;
    color:white;
    background-color: #e23e1f;
    float:right;
    min-width: 130px;
}

#previewbutton p {
    font-family: ProximaSemibold;
    font-size: 15px;
    float:left;
    margin-right: 0;
}

#previewbutton img {
    float:right;
    width: 8px;
    height: 10px;
    margin-top: 25px;
    margin-right: 15px;
}


#previewbutton p, #editorbar p.savemessage {
    line-height: 60px;
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 0;
}

#previewbutton:hover {
    background-color: #8f8f8f;
}

#editorbar p.savemessage {
    float:right;
    font-family: ProximaLight;
    margin-right: 25px;
    font-size: 12px;
    color: #8f8f8f;

}

.editorbarbuttonwrapper {
    position: relative;
    float:left;
}

.editorbarbutton, .editorbaritem {
    position: relative;
    font-family: ProximaLight;
    font-size: 12px;
    border-right: 1px solid #e6e6e6;
    float:left;
    min-width: 135px;
    z-index: 2;
}

.storysettingsbutton, #scenariobutton {
    width: 219px;
}

.storysettingsbutton p, #scenariobutton p {
    width: 170px;
}

.storysettingsbutton p:after {
    position: absolute;
    right: 12px;
    top: 4px;
    content: url('../images/settingsbutton.png');
}

#scenariobutton p:after {
    position: absolute;
    right: 12px;
    content: url('../images/arrowdown2.png');
}


.editorbarbutton:hover {
    background-color: white;
    cursor: pointer;
}

.editorbarbutton p, .editorbaritem p {
    line-height: 60px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overlow: elipsis;
}

.editorbarbutton img, .editorbarbutton img.settings {
    margin-left: 20px;
}

.editorbarbutton img.settings {
    position: relative;
    top: 0px;
}

.editorbardropdown {
    top: 60px;
    min-width: 600px;
    min-height: 315px;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #d3d3d3;
    -moz-box-shadow: 1px 1px 1px 1px #d3d3d3;
}

p.helpmessage {
    color: #7a7a7a;
    font-size: 12px;
    font-family: ProximaLight;
    position: absolute;
    right:0;
    bottom: 57px;
    max-width: 65px;
}

/*
.editorbardropdown img.trashcan {
    position: absolute;
    bottom: 0;
    right: 0;
} */

.trashcan {
    width: 59px;
    height: 57px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../images/trashbin.PNG');
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

#scenariolistheader {
    border-bottom: 1px solid #e8e8e8;
    margin-left: 45px;
    width: 390px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#scenariolistheader p, #scenariolistheader p.right {
    margin: 0;
    display: inline;
    font-family: Proxima;
    font-size: 13px;
}

#scenariolistheader p {
}

#scenariolistheader p.right{
    float:right;
}

#scenariolistcontainer {
    direction: rtl;
    width: 460px;
    height: 230px;
    margin-left: 10px;
    float:left;
    overflow-y: scroll;
}

#scenarioswrapper {
    height: 215px;
    width: 430px;
    margin-left: 15px;
    direction: ltr;
}

.scenariowrapper {
}

#scenarioswrapper input.scenariotitle {
    color: #989898;
    font-family: Proxima;
    font-size: 14px;
    margin-left: 5px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overlow: elipsis;
    width: 260px;
    line-height: 36px;
}

input.scenariotitle {
    height: 36px;
    border: 0;
    margin: 0;
    padding: 0;
}

input.scenariotitle:disabled {
    background-color: white;
}

.scenariocontainer {
    float: left;
    width:390px;
    height:36px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    margin-bottom: 10px;
    background-image: url('../images/dragbalk.PNG');
    background-position: left;
    background-repeat: no-repeat;
}

.scenariowrapper p.editmessage {
    float: left;
    color: #989898;
    max-width: 30px;
    font-family: ProximaLight;
    font-size: 14px;
    line-height: 36px;
    margin:0;
    cursor: pointer;
    margin-left: 10px;
}

.linkfromarea, .linktoarea {
    width: 54px;
    height: 36px;
    overflow: hidden;
}

.linkfromblock, .linktoblock {
    width: 18px;
    height: 18px;
    text-align: center;
    color: white;
    font-family: ProximaSemibold;
    font-size: 11px;
    line-height: 18px;
}

.linkfromblock {
    float:left;
    background-color: #8eb2f4;
}

.linkfromblock:nth-child(1) {
    background-color: #427fed;
}

.linkfromblock:nth-child(2) {
    background-color: #719ff2;
}

.linktoblock {
    background-color: #bfe06e;
    float:right;
}

.linktoblock:nth-child(3){
    background-color: #94cc0e;
}

.linktoblock:nth-child(2){
    background-color: #afd94a;
}

.linkfromarea {
    margin-left: 15px;
    float:left;
}

.linktoarea {
    float: right;
}

button.newscenariobutton {
    width: 100px;
    height: 30px;
    background-color: #e23e1f;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: ProximaSemibold;
    font-size: 12px;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

/*EDITORBAR EINDIGT HIER */

/*Assetmenu*/
#assetmenu {
    float:left;
    width:330px;
    min-width: 330px;
    height: calc(100% - 60px);
    padding-left: 17px;
    padding-right: 8px;
    background-color: white;
}

#assetmenu select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
    font-family: ProximaSemibold;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 30px;
    background-color: white;
    text-overflow: '';
    width: 310px;
    border: 1px solid #d3d3d3;
    background: url(../images/arrowdown3.png) no-repeat 95%, 0%;
    text-indent: 5px;
}



p.assetmenudescription {
    font-family: ProximaLight;
    font-style: italic;
    color: #696969;
    font-size: 11px;
    max-width:280px;
    padding-bottom: 30px;
    padding-left: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.assetgroupswrapper {
    overflow-y : auto;
    overflow-x: hidden;
}

.assetgroup {
    width: 300px;
    padding-right: 20px;
}

.assetgroupheader {
    cursor: pointer;
    font-family: ProximaSemibold;
    font-size: 14px;
    text-transform : uppercase;
    border-bottom: 1px solid #f2f2f2;
    width: 280px;
    padding-left: 5px;
    margin-top: 30px;
    padding-bottom: 15px;
}

.assetgroupheader p{
    max-width: 265px;
    display: inline;
}

.assetgroupheader img{
    float:right;
}

.assetgroupheader img.hidden {
    margin-right:2px;
}

.assetgroupswrapper {
    overflow-y : auto;
    overflow-x: hidden;
    height: calc(100% - 141px);
}

.assetwrapper {
    width: 80px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}

.assetwrapper {
    margin-right: 20px;
}

.assetwrapper p, .assetwrapper-right p{
    text-align: center;
    font-size: 13px;
    font-family: Proxima;
    color: #acadad;
    margin: 0;
    margin-top: 10px;
}

.asset {
    border-radius: 3px;
    max-height:80px;
    width: 80px;
    border: 1px solid #e0e0e0;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

.asset img {
    vertical-align: bottom;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
}

/*EINDE ASSET BAR */

#editorarea {
    float: left;
    width: calc(100% - 357px); /* - assetmenu width */
    height: calc(100% - 60px); /* - top bars' height */
}

#editor {
    float: left;
    width: 100%;
    height: calc(100% - 125px);
    background-image: url('../images/Assets/Achtergrond1A.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Scènebalk */
#scenemenuwrapper {
    width: 100%;
    height: 125px;
    background-color: white;
    float: left;
}

#scenemenu {
    /* width: calc(100% - 126px);  /* 126px is trash can */
    max-width: calc(100% - 125px - 60px); /* - trash can, - plus button */

    float: left;
    height: 125px;
    background-color: white;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

#sceneitem {
    width: 155px;
    height: 110px;
    padding: 15px 0px 0px 0px;
    display: inline-block;
}

#scene {
    float: left;
}

#scene p {
    margin: 0;
    text-align: center;
    font-size: 13px;
    font-family: Proxima;
}

#dots {
    height: 65%;
    width: 15px;
    float: left;
    margin: 0px 5px 0px 5px;
    background: url(../images/dots.png) no-repeat;
    background-position: center center;
    cursor: pointer;
}

#dots:hover {
    background: url(../images/dots-hover.png) no-repeat;
    background-position: center center;
}

#plus {
    width: 40px;
    height: 80%;
    margin: 0px 10px 0px 10px;
    float: left;
    cursor: pointer;
    background: url(../images/plusbutton.png) no-repeat;
    background-position: center center;
}

#plus:hover {
    background: url(../images/plusbutton-hover.png) no-repeat;
    background-position: center center;
}

#scenetrash {
    background: url(../images/trashbin2.png) no-repeat;
    background-position: center;
    background-color: #f5f5f5;
    height: 125px;
    width: 124px;
    border-left: solid 1px #d3d3d3;
    float: right;
}

.assetimage {

}

#assetmenuwrapper{
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: #b7b7b7;
    padding-left: 10px;
}

#assetpropertiesmenu {
    width: 220px;
    height: 435px;
    padding: 0;
    margin: 0;
    background-color: #b7b7b7;
    position: relative;
    top: 0;
}

#assetpropertiesmenu h1 {
    font-size: 16px;
    color: #111111;
    margin-bottom: 0;
}

#assetpropertiesmenu p {
    font-size: 12px;
    color: #161616;
    margin-top: 0;
    padding-top: 0;
}

#assetpropertiesmenu h1, #assetpropertiesmenu p {
    font-family: Helvetica;
    text-transform: uppercase;
    margin-left: 14px;
}

#assetoptions {
    margin-top: 55px;
    border-bottom: 1px solid #d7d7d7;
}

.assetoption, .assetoptionscenario{
    border-top: 1px solid #d7d7d7;
    height: 35px;
    position: relative;
}

.assetoption:hover, .assetoptionscenario:hover{
    background-color: #929292;
    cursor: pointer;
}

#assetoptions p, #assetoptions p#scenario{
    line-height: 35px;
    font-family: Helvetica;
    font-size: 16px;
    color: #111111;
    text-transform: none;
}

#assetoptions p#scenario:after {
    position: absolute;
    right: 15px;
    content: url('../images/gotoscenarioarrow.png');
}

#assetpropertieswrapper {
    margin-top: 25px;
    font-family: Helvetica;
    font-size: 16px;
    color: black;
    line-height: 35px;
}

.assetpropertycontainer, .assetpropertycontainerright {
    margin-top: 12px;
    height: 35px;
    width: 90px;
    background-color: #a4a4a4;
    float: left;
}

.assetpropertycontainerright {
    margin-left: 20px;
}

.assetpropertycontainer label, .assetpropertycontainerright label {
    margin-left: 10px;
    display: inline-block;

}

.assetpropertycontainer input, .assetpropertycontainerright input{
    width: 30px;
    display: inline-block;
    background-color: transparent;
    border: none;
    height: 30px;
    padding: 0;
    margin: 0;
}

.assetpropertycontainer input, .assetpropertycontainerright input, .assetpropertycontainer label, .assetpropertycontainerright label {
    font-family: Helvetica;
    font-size: 16px;
    color: black;
    line-height: 35px;
}

p#deleteassetbutton {
    position: absolute;
    font-size: 12px;
    color: #ed1c24;
    font-family: Helvetica;
    bottom: 25px;
    left: 0;
    text-transform: none;
    margin-bottom: 0;
}

p#deleteassetbutton:hover{
    cursor: pointer;
}

#gotoscenariocontainer {
    background-color: #b7b7b7;
    position: absolute;
    width: 220px;
    height: 155px;
    top: 0;
    display: none;
    left: 220px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
}

.gotoscenariooption {
    width: 210px;
    height: 35px;
    border-bottom: 1px solid #d7d7d7;
    text-overflow: ellipsis;
}

.assetoptionscenario:hover > #gotoscenariocontainer {
    display: block;
}

.gotoscenariooption:hover {
    background-color: #929292;
    cursor: pointer;
}

.gotoscenariooption p {
    line-height: 35px;
    font-family: Helvetica;
    font-size: 16px;
    color: #111111;
    text-transform: none;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

/* EINDE SCÈNEBALK */

/*
"Settings" - Proximanova semibold 17px #484848
Verhaalnaam - Proximanova bold 17px
Name your story - Proximanova semibold 20px
Storynaam - PRoximanova semibold 15px #4b4b4b
edit - Proxima nova 15px #7c7c7c
Sharedescription: Proxima novaregular 16px #6e6e6e
Private - Proximanova bold 15px #484848
Privatedescrip - Proximanova regular 13px #7d7d7d
Delete - Regular 15px
Cancel - proximanova 15px #767676
*/
