html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-width: 1060px;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background-image: url('../images/noise.png');
}

@font-face
{
    font-family: ProximaSemibold;
    src: url('../fonts/Proxima/ProximaNova-Semibold.otf'),
    url('../fonts/Proxima/ProximaNova-Semibold.otf'); /* IE9 */
}

@font-face
{
    font-family: Proxima;
    src: url('../fonts/Proxima/ProximaNova-Regular.otf'),
    url('../fonts/Proxima/ProximaNova-Regular.otf'); /* IE9 */
}

@font-face
{
    font-family: ProximaLight;
    src: url('../fonts/Proxima/ProximaNova-Light.otf'),
    url('../fonts/Proxima/ProximaNova-Light.otf'); /* IE9 */
}

@font-face
{
    font-family: ProximaBold;
    src: url('../fonts/Proxima/ProximaNova-Bold.otf'),
    url('../fonts/Proxima/ProximaNova-Bold.otf'); /* IE9 */
}

#ng-view {
    height: calc(100% - 70px);
    float: left;
    width: 100%;
}

/* Navbar */
#navbar {
    float: left;
    background-color: #252525;
    height: 70px;
    width: 100%;
}

#navbar a {
    color: #e4e4e4;
    text-decoration: none;
}


img.navlogo {
    margin-top: 5px;
    margin-left: 25px;
    height: 55px;
    width: 150px;
}

/* Rechter kant van de nav */
.navlink, #navaccount{
    height: 70px;
    color: #e4e4e4;
    font-size: 14px;
    float: right;
    border-left: 1px solid #3c3d3d;
    display: inline-table;
}

/*Knoppen aan de rechter kant */
.navlink {
    font-family: ProximaSemibold;
    width: 120px;
    text-align: center;
    line-height: 70px;
}

.navlink:hover {
    background-color: #e23e1f;
}

.loginlink:after {
    position: absolute;
    right: 10px;
    top: 5px;
    content : url('../images/arrowright2.png');
}

.loginlink:hover {
    background-color: white;
}

.loginlink:hover:after {
    position: absolute;
    right: 10px;
    top: 5px;
    content : url('../images/loginarrow.png');
}

#navaccount, #accountdropdown {
    min-width: 280px;
}

#accountdropdown {
    z-index: 100;
    box-shadow: 1px 3px 1px 1px #d3d3d3;
    -moz-box-shadow: 1px 1px 1px 1px #d3d3d3;
}

#navaccount {
    position: relative;
}

/*Profielplaatje */
#navaccount img{
    margin-top: 5px;
    margin-left: 10px;
    float:left;
    height: 60px;
    width: 60px;
}

#accountstorywrapper{
    margin-left: 20px;
    float:left
}

/*Accountnaam */
#navaccount p{
    width: 140px;
    font-family: Proxima;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
    white-space: nowrap;
    text-overflow: clip;
    -o-text-overlow: elipsis;
    overflow: hidden;
}

#navstorybutton, #navdropdownbutton {
    font-family: Proxima;
    text-align: center;
    font-size: 12px;
}

/*Aantal stories button */
#navstorybutton {
    width: 80px;
    height:20px;;
    border-radius: 20px;
    line-height: 20px;
    background-color: #343434;
    color: #7d7d7d;
}

/*Navbar detail button */
#navdropdownbutton img{
    width: 8px;
    height: 6px;
    margin-left: 6px;
    margin-top: 7px;
}

#navdropdownbutton:hover {
    background-color: #e23e1f!important;
    cursor: pointer;
}

#navdropdownbutton {
    float:right;
    width:20px;
    height:20px;
    background-color: #3f3f3f;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 20px;
}

#accountdropdown {
    margin-top: 70px;
    position:absolute;
    background-color: white;
    height: 100px;
}

#accountdropdown li.settingsbutton {
    list-style-image: url('../images/profileicon.png');
    background-color: #e8e8e8;
    height: 40px;
}

#accountdropdownbuttonwrapper {
    position: absolute;
    bottom: 0;
    width: calc(100% - 16px);
    margin-left: 8px;
}

.accountdropdownbuttonprofile p, .accountdropdownbuttonlogout p{
    display: inline;
    color: #545454;
    font-family: ProximaLight;
    line-height: 40px;
    margin-left: 30px;
}

.accountdropdownbuttonprofile, .accountdropdownbuttonlogout {
    height: 40px;
    background-repeat: no-repeat;
    background-position: 2%;
    border-top: 1px solid #e8e8e8;
}

.accountdropdownbuttonprofile:hover, .accountdropdownbuttonlogout:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.accountdropdownbuttonprofile{
    background-image: url('../images/profileicon.png');
}

.accountdropdownbuttonlogout{
    background-image: url('../images/logouticon.png');
}