#backgroundwrapper {
    height: calc(100% + 70px);
    width: 100%;
}

#loginfieldwrapper, #registerfieldwrapper {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
}

#loginfieldwrapper {
    height: 440px;
    margin-top: -220px;
}

#registerfieldwrapper {
    height: 620px;
    margin-top: -315px;
}

#loginfieldwrapper form, #registerfieldwrapper form{
    margin-bottom: 0px;
}

#loginfieldwrapper input, #registerfieldwrapper input {
    width: 306px;
    padding-right: 0;
    padding-left: 10px;
    height: 35px;
    border: 2px solid #d3d3d3;
    border-radius: 3px;
    margin-bottom: 15px;
    font-family: Proxima;
}

#loginfieldwrapper label, #registerfieldwrapper label, p.validationmessage, #registerfieldwrapper label.inline {
    font-family: ProximaLight;
    font-size: 14px;
    color: #747474;
    margin-left:  5px;

}

#registerfieldwrapper label.inline {
    display: inline;
}


#registerfieldwrapper label {
    margin-bottom: 0;
}

#registerfieldwrapper label.passwordlabel:after{
    position: absolute;
    right: 0;
    color: #9f9f9f;
    content: "Has to be at least 6 characters";
}
/*
#usernameLabel:after, #emaillabel:after {
    position: absolute;
    right: 0;
    color: #e23e1f;
    content: "Username is already in use!";
} */



#loginfieldwrapper img , #registerfieldwrapper img{
    margin: 0 auto 30px auto;
    display: block;
    width: 121px;
    height: 137px;
}

#loginbottomwrapper button, #registerfieldwrapper button {
    width: 50%;
    height: 100%;
    float:left;
    background-color: #e23e1f;
    border: none;
    border-radius: 5px;
    margin-top: 0;
    font-family: ProximaBold;
    font-size: 15px;
    color: white;
}

#loginbottomwrapper, #registerbottomwrapper {
    height: 50px;
    position: relative;
    line-height: 50px;
}

#loginbottomwrapper {
    margin-top: 10px;
}

#registerbottomwrapper {
    margin-top: 0;
}

#loginbottomwrapper input[type=checkbox], #registerfieldwrapper input[type=checkbox]{
    width: 18px;
    height: 18px;
    border: 2px solid #d3d3d3;
    margin: 0;
    margin-top: 16px;
    float: left;
}

#loginbottomwrapper input[type=checkbox]{
    margin-left: 10px;
}

#registerfieldwrapper input[type=checkbox]{
    margin-left: 2px;
}

#loginbottomwrapper p, #registerfieldwrapper p.updatemessage {
    margin: 0;
    padding: 0;
    line-height: 50px;
    margin-left: 10px;
    display: inline;
    font-family: ProximaLight;
    color: #555555;
}

#loginbottomwrapper p {
    font-size: 15px;
}

#registerfieldwrapper p.updatemessage {
    font-size: 14px;
    margin-left: 4px;
    line-height: 51px;
}

#loginfieldwrapper p.createaccount, #registerfieldwrapper p.login {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: ProximaLight;
    font-size: 14px;
    color: #e23e1f;
}

.selectwrapperday, .selectwrappermonth, .selectwrapperyear {
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    border: 2px solid #d3d3d3;
    height: 30px;
    padding: 0;
}

#registerfieldwrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: ProximaLight;
    display: inline;
    font-size: 13px;
    border: 0;
    background: url(../images/dropdownbutton.png) no-repeat 90%, 0%;
    text-overflow: '';
    margin: 0;
    padding-top: 4px;
    text-indent : 3px;
    background-color: white;
}

#registerfieldwrapper select option {
    color: black;
}
#registerfieldwrapper select option:first-child { color: #9f9f9f; }
#registerfieldwrapper select.empty { color: #9f9f9f; }
#registerfieldwrapper select option[disabled]:first-child { display: none; }

/* 320px - 75 - 100 - 90 - 12 =

79 + 125 + 104 = */
#registerfieldwrapper select.day, .selectwrapperday {
    width: 75px;
}

#registerfieldwrapper select.month, .selectwrappermonth {
    width: 100px;
}

.selectwrappermonth {
    margin-left: 16px;
}

#registerfieldwrapper select.year, .selectwrapperyear {
    width: 90px;
}

.selectwrapperyear {
    margin-left: 16px;
}

/* Hidden placeholder */
#registerfieldwrapper select option[disabled]:first-child { display: none; }

#registerbutton:disabled {
    background-color: #f37a73;
    border-color: #d43f3a;
}

p.validationmessage {
    display: inline;
    margin: 0;
    float: right;
    color: #e23e1f;
}