#ng-view {
    position: absolute;
    top: 0;
}

#preview {
    height: calc(100% - 70px);
    width: 100%;
}

#previewbar {
    width: 100%;
    height: 70px;
    background-color: black;
    position: absolute;
    bottom: 0;
}

img#logo {
    margin-top: 5px;
    margin-left: 25px;
    height: 55px;
    width: 150px;
}