#preview {
    height: calc(100%);
    width: 100%;
    background-image: url(../images/previewbackground.png);
    background-size: 100% 100%;
}

#previewbar {
    width: 100%;
    min-width: 975px;
    height: 70px;
    position: absolute;
    bottom: 0;
}

p#link, p#linktitle {
    color: white;
    line-height: 70px;
    padding: 0px 20px 0px 20px;
    margin: 0;
}

#leftside {
    width: calc(100% - 600px);
    height: 100%;
    float: left;
    background-color: #252525;
}

#backbutton {
    text-align: center;
    color: white;
    background-color: #e23e1f;
    float: left;
    min-width: 100px;
    height: 70px;
    text-align: center;
}

#backbutton:hover {
    background-color: #c93003;;
}

#backbutton p {
    font-family: ProximaSemibold;
    font-size: 15px;
    float:left;
    margin-right: 0;
    line-height: 70px;
    margin-left: 8px;
    margin-bottom: 0;
    margin-top: 0;
}

#backbutton img {
    float:left;
    width: 8px;
    height: 10px;
    margin-top: 29px;
    margin-left: 15px;
}

#backbutton:hover {
    background-color: #8f8f8f;
}

img#logo {
    margin-top: 5px;
    margin-left: 25px;
    height: 55px;
    width: 150px;
    float: left;
}

p#linktitle {
    float: right;
    font-family: ProximaBold;
    font-size: 14px;
}

#rightside {
    width: 600px;
    float: left;
    background-color: #353535;
}

#link {
    float: left;
    font-family: Proxima;
    font-size: 14px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#link:hover {
    cursor: text;
}

#shareicons {
    float: right;
}

#shareicons img {
    float: left;
}


a.addthis_button_facebook, a.addthis_button_twitter, a.addthis_button_hyves, a.addthis_button_compact {
    margin: 0; padding: 0; float: left;
}

.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
    padding: 0;
}

#_atssh {
    display: none;
}
/*
.addthis_floating_style.addthis_32x32_style a {
    padding: 0;
    margin: 0;
    float: left;
}*/