<div class="editorbardropdown" data-ng-show="showscenarios">
    <button class="newscenariobutton" data-ng-click="showScenarioPopup();">New scenario</button>
    <div id="scenariolistheader">
        <p>From</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Title</p>

        <p class="right">To</p>
    </div>
    <div id="scenariolistcontainer">
        <div id="scenarioswrapper">
            <div class="scenariowrapper" data-ng-repeat="scenario in scenarios">
                <div class="scenariocontainer">
                    <div class="linkfromarea">
                        <!-- <div class="linkfromblock">1</div>
                         <div class="linkfromblock">2</div>
                         <div class="linkfromblock">3</div>
                         <div class="linkfromblock">4</div> -->
                    </div>
                    <input class="scenariotitle" data-ng-model="scenario.title" disabled/>
                    <div class="linktoarea">
                        <!-- <div class="linktoblock">3</div>
                         <div class="linktoblock">2</div>
                         <div class="linktoblock">1</div>
                         <div class="linktoblock">4</div> -->
                    </div>
                </div>
                <p class="editmessage" data-ng-click="showScenarioEditPopup($index)">edit</p>
            </div>
        </div>
    </div>
    <p class="helpmessage">Drag &amp; Drop to delete!</p>

    <div class="trashcan"></div>
</div>